*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
    background-color: #ebebeb;
}
.topline {
    background-color: #373737;
    height: 70px;
}
.logo_wr a{
	position: relative;
    height: 70px;
    width: 80px;
    background-color: #f26c4f;
    font-family: "NexaHeavy";
    font-size: 36px;
    text-align: center;
    color: #ffffff;
	display: inline-block;
	vertical-align: middle;
}
.logo_wr a:after,
.top_txt:after{
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -13px;
	border: 12px solid transparent;
	border-left: 12px solid #f26c4f;
}
.logo_wr span{
	font-family: "NexaLight";
	font-size: 18px;
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin-left: 20px;
}
/*menu*/
.main_mnu_btn{
	border: medium none;
	background-color: transparent;
	font-size: 26px;
	display: none;
}
.main_mnu_btn{
	color: #fff;
	padding: 16px 30px 16px;
}
.mnu{
	background-color: #474747;
	height: 70px;
}
.top_mnu{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}
.top_mnu li{
	margin: 0;
	padding: 0;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
}
.top_mnu li span{
	padding: 0 25px;
	border-right: 1px solid #767676;
	display: block;
	height: 11px;
	line-height: 11px;
}
.top_mnu li:first-child span{
	padding-left: 0px;
}
.top_mnu li a{
	font-family: "Arial";
	font-size: 12px;
	color: #fff;
	position: relative;
}

.top_mnu li.active a:after,
.top_mnu li a:hover:after{
	content: '';
	display: block;
	height: 4px;
	left: 0;
	right: 0;
	bottom: -31px;
	position: absolute;
	background-color: #f26c4f;
}
/*konec menu*/
/*poisk*/
.social_btn{
	border: medium none;
	background-color: transparent;
	font-size: 26px;
	display: none;
	color: #fff;
	padding: 16px 30px 16px;
}
.search_soc{
	margin: 15px 0 10px;
	padding: 0;
}
.search_wr{
	width: 300px;
	margin: 0;
	padding: 0;
}
.search_wr .search{
	width: 100%;
	height: 45px;
	background: #fff url(../img/clock.png) no-repeat right 13px center;
	margin: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	padding: 15px 20px;
}
.search::-webkit-input-placeholder {
 	font-family: "Arial";
 	font-size: 12px;
 	font-weight: bold;
 	color: #767676;
 	vertical-align: middle;
}
.search::-moz-placeholder{
	font-family: "Arial";
 	font-size: 12px;
 	font-weight: bold;
 	color: #767676;
 	vertical-align: middle;
}
.soc_buttons{
	float: right;
	margin: 0;
	padding: 0;
}
.soc_buttons i{
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 5px;
}
.soc_buttons a{
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-left: 25px;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #767676;
	padding-top: 14px;
}
.soc_buttons a:first-child{
	margin-left: 0px;
}

/*kartinka top*/
.top_content{
	margin: 0;
	padding: 0;
	margin-top: 10px;
}
.top_img{
	background-color: #f26c4f;
	height: 390px;
	border-right: 10px solid #f26c4f;
	overflow: hidden;
	position: relative;
}
.top_img img{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	display: block;
}
.img_descr{
	margin: 0;
	padding: 20px 25px;
	background-color: rgba(27, 27, 33, .5);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 350px;
}
.img_descr p{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
	font-family: "Arial";
	font-weight: normal;
}
.top_txt{
	background-color: #373737;
	width: 100%;
	height: 390px;
	margin: 0;
	padding: 40px 42px;
	position: relative;
}
.top_txt:after{
	left: 0;
	top: 50px;
}
.top_txt h4{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-size: 19px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
	line-height: 24px;
}
.top_txt p{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #a7a7a7;
	line-height: 23px;
	margin-bottom: 10px;
}
.date_img {
	text-align: right;
	margin: 0;
	padding: 0;
}
.date_img .date{
	padding: 0;
	margin: 0;
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #a7a7a7;
	display: inline-block;
	padding-left: 25px;
	padding-bottom: 3px;
	background: url(../img/clock2.png) no-repeat;
}
/*kartiki blog top*/
.top_img_content{
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
 .top_img_content .img_cnt{
 	position: relative;
 	margin: 0;
 	padding: 0px;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	background-color: #fff;
 }
.top_img_content .img_cnt img{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 190px;
}
.txt_cnt{
	margin: 0;
	padding: 25px 25px 55px;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	background-color: #fff;
 	border-bottom: 1px solid #d3d3d3;
}
.txt_cnt h3, p{
	margin: 0;
	padding: 0;
}
.txt_cnt h3{
	font-family: "Arial";
	font-weight: bold;
	font-size: 25px;
	line-height: 31px;
	color: #4f4f4f;
	margin: 0;
	padding: 0;
}
.txt_cnt h3:hover{
	color: #333;
}
.txt_cnt p{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	color: #646464;
}
.zoom{
	margin: 0;
	padding: 0;
	width: 80px;
	height: 80px;
	background: url(../img/zoom-bl.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
}
.zoom a{
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 5px 8px;
	color: #fff;
	font-family: "Tahoma";
	font-weight: normal;
	font-size: 23px;

}
/*konec top blog kontent*/
/*centralynaya 4ast*/
.middle{
	margin: 0;
	padding: 0;
	margin-top: 20px;
}
.main_blog_content{
	margin: 0;
	padding: 0;
	background-color: #fff;
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 65px;
	padding-bottom: 40px;
	border-left: 5px solid #f26c4f;
	margin-bottom: 8px;
	border-bottom: 1px solid #dedede;
	position: relative;
	cursor: pointer;
	transition: all .25s;
}
.main_blog_content span{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.main_blog_content h3{
	font-family: "Arial";
	font-weight: bold;
	font-size: 24px;
	color: #474747;
	margin: 0;
	padding: 0;
	margin-bottom: 0px;
}
.main_blog_content .blog_date{
	font-family: "Tahoma";
	font-weight: normal;
	font-size: 10px;
	color: #8f8f8f;
	margin: 0;
	padding: 0;
	margin-bottom: 18px;
	line-height: 20px;
}
.main_blog_content .blog_date .b_comments{
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	margin-right: 20px;
	margin-left: 40px;
	padding: 0px 25px;
}
.blog_date .b_votes{
	margin-left: 14px;
}
.blog_date .b_stars{
	font-size: 15px;
	color: #afafaf;
}
.main_blog_content p{
	font-family: "Arial";
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #707070;
}
.main_blog_content .movie{
	margin: 0;
	padding: 0;
	width: 31px;
	height: 25px;
	background: url(../img/muvie.png) no-repeat;
	position: absolute;
	top: 80px;
	left: -55px;
	display: none;
	transition: all .25s;
}
.main_blog_content .movie a{
	display: block;
	margin: 0;
	padding: 0;
}
/*activniy blog*/
.main_blog_content.active_blog,
.main_blog_content:hover
{
	border-left:5px solid #ce4e32;
	background-color: #f26c4f;
	margin-bottom: 13px;
	margin-top: 13px;
	border-bottom: none;
}
.main_blog_content.active_blog h3,
.main_blog_content.active_blog .blog_date,
.main_blog_content.active_blog p,
.main_blog_content.active_blog .blog_date i,
.main_blog_content:hover h3,
.main_blog_content:hover p,
.main_blog_content:hover .blog_date i,
.main_blog_content:hover .blog_date{
	color: #fff;
}
.main_blog_content.active_blog .movie,
.main_blog_content:hover .movie{
	display: block;
}
/*class small dlya malenkih poley*/
.main_blog_content.small_content{
	padding: 20px 64px 1px 28px;
}
.main_blog_content.small_content h3{
	font-size: 18px;
}
.main_blog_content.small_content .blog_date{
	line-height: 10px;
	margin-top: 8px;
}
.main_blog_content.small_content .blog_date .b_comments{
	border-right: none;
	padding-left: 13px;
}
.main_blog_content.small_content .movie{
	top: 33px;
	left: -55px;
}
/*konec*/
/*class mini dlya odnogo bolshogo polya*/
.main_blog_content.mini_cnt{
	padding: 29px 39px 11px 30px
}
.main_blog_content.mini_cnt .blog_date .b_comments{
	border-right: none;
	padding-left: 13px;
}
.main_blog_content.mini_cnt .blog_date{
	line-height: 10px;
	margin-top: 8px;
}
.main_blog_content.mini_cnt .movie{
		top: 50px;
		left: -55px;
}
/*conec*/
/*pole s plusom*/
.read_more{
	margin: 0;
	padding: 26px 0px 23px 0px;
	text-align: center;
}
.read_more a{
	display: block;
	text-transform: uppercase;
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #bdbdbd
}
.read_more .plus{
	font-size: 19px;
}
/*konec polya s plusom*/
/*pole s bolshim textom*/
.nice_txt{
	padding: 18px 42px 30px 36px;
	margin: 0;
	background-color: #fff;
	margin-bottom: 3px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.nice_txt h2{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: bold;
	font-size: 30px;
	color: #707070;
	margin-bottom: 36px;
	margin-top: 18px
}
.nice_txt p{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #707070;
	margin-bottom: 43px;
}
.nice_txt p.bottom_reset_margin{
	margin-bottom: 0px;
}
.nice_txt .red{
	color: #f26c4f;
}
.date_like{
	background-color: #efefef;
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #a2a2a2;
	padding: 14px 27px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.date_like .like,
.date_like .date{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.date_like .like{
	float: right;
}
.date_like .like i{
	margin-left: 10px;
	color: #f26c4f;
	cursor: pointer;
    display: inline-block;
}
.big_blog{
	margin: 0;
	padding: 0;
	background-color: #fff;
	margin-top: 30px;
}
.big_blog_txt{
	margin: 0;
	padding: 0;
	padding: 38px 36px 40px 45px;
	font-family: "Arial";
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;
	color: #949494;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.big_blog .big_blog_txt h2{
	font-size: 30px;
	font-weight: bold;
	color: #707070;
	line-height: 35px;
	margin-bottom: 23px;
}
.big_blog .big_blog_txt p{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	font-family: "Arial";
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    color: #949494;
}
.big_blog_txt.two{
	padding-top: 60px;
}
.big_blog_txt.two p{
	padding-bottom: 40px;
}
.big_blog img{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.big_blog p, .big_blog h2{
	margin: 0;
	padding: 0;
}
/*blok sprava*/
.rght_main_content{
	font-family: "Arial";
	margin: 0;
	padding: 0;
	position: relative;
}
.txt_wrapp{
	margin: 0;
	padding: 0;
	padding: 30px 36px 45px 30px;
	background-color: #373737;
	border-bottom: 1px solid #d3d3d3;
}
.txt_wrapp h3
{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: bold;
	font-size: 25px;
	color: #fff;
	line-height: 31px;
	margin-bottom: 24px;
}
.txt_wrapp p{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
}
.aside_img_wr{
	margin: 0;
	padding: 0;
}
.aside_img_wr img{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.journal_posts
{
	margin: 0;
	padding: 0;
	margin-top: 36px;
	padding: 0px 10px 0px 16px;
}
.journal_post{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #d9d9d9;
	outline-style: 1px solid #f5f5f5;
	padding-bottom: 25px;
}

.journal_post h4{
	font-family: "Arial";
	font-weight: bold;
	font-size: 19px;
	color: #474747;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
.journal_post p{
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #a7a7a7;
	line-height: 23px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
.journal_post .journal_date{
	display: inline-block;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #8f8f8f;
	line-height: 21px;
	margin: 0;
	padding: 0;
	margin-top: 21px;
}
.no_border{
	border-bottom: none;
	outline-style: none;
}
.autors{
	margin: 0;
	padding: 0;
	margin-top: 5px;
}
.autor{
	background-color: #fff;
	margin: 0px;
	margin-bottom: 6px;
	border-bottom: 1px solid #c8c8c8;
	border-left: 3px solid #cacaca;
	outline: 1px solid #e0e0e0;
	padding: 15px 0px 17px 20px;
	transition: all .25s;
}
.autor:hover{
	margin-bottom: 10px;
	margin-top: 10px;
}
.autor a{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.autor .about, .autor .autor_name{
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
.autor .about{
	font-weight: bold;
	font-size: 16px;
	color: #474747;
	padding-right: 10px;
}
.autor .autor_name{
	font-weight: normal;
	font-size: 12px;
	color: #a7a7a7;
}
/*konec*/
.foot{
	background-color: #373737;
	margin: 0;
	padding: 0;
	margin-top: 122px;
	padding: 37px 0px 37px 0px;
}
.foot span a{
	display: inline-block;
	font-family: "Arial";
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-right: 20px;
}
.foot p{
	font-family: "Arial";
	font-weight: normal;
	font-size: 11px;
	color: #7e7e7e;
	line-height: 21px;
	margin: 0;
	padding: 0px 160px 0px 0px;
	margin-top: 28px;
}
/*классы которые анулируют паддинги по слева и справа соотвественно в колонках*/
.lft_reset{
	padding-left: 0px;
}
.rght_reset{
	padding-right: 0px;
}
.big_blog_txt.two p.non_margin{
	margin-bottom: 0;
	padding-bottom: 0;
}
